<%= render "admins/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<p id="notice"><%= notice %></p>

<div class="text-center mt-3">
  <h1 class="text-center undertitle"><%= @student.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="schedule"><h3>基本情報</h3></div>
      <table class="table">
        <tr>
          <th>id</th>
          <td><%= @student.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @student.name %></td>
        </tr>
        <tr>
          <th>名前カナ</th>
          <td><%= @student.name_kana %></td>
        </tr>
        <tr>
          <th>学校名</th>
          <td><%= @student.school %></td>
        </tr>
        <tr>
          <th>保護者氏名</th>
          <td><%= @student.parent_name %></td>
        </tr>
        <tr>
          <th>保護者氏名カナ</th>
          <td><%= @student.parent_name_kana %></td>
        </tr>
      </table>
    </div>
  </div>
</div>