<%= render "admins/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<% now = Date.today %>
<p id="notice"><%= notice %></p>

<div class="text-center mt-3">
  <h1 class="text-center undertitle"><%= @teacher.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="mx-5 pl-5 mb-3">
        <%= image_tag @teacher.get_image(250,250) %>
      </div>
      <div class="schedule"><h3>基本情報</h3></div>
      <table class="table">
        <tr>
          <th>id</th>
          <td><%= @teacher.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @teacher.name %></td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td><%= @teacher.birth %></td>
        </tr>
        <tr>
          <th>大学</th>
          <td><%= @teacher.school %></td>
        </tr>
        <tr>
          <th>学部</th>
          <td><%= @teacher.faculty %></td>
        </tr>
        <tr>
          <th>担当科目</th>
          <td>
            <% @teacher.subjects.each do |subject| %>
            <%= subject.name_grade %>
            <% end %><br>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @teacher.email %></td>
        </tr>
      </table>
    </div>
    <% shifts_time = @shift_time.where("start_time >= ?", now.beginning_of_month).where("start_time <= ?",Date.today.end_of_month) %>
    <div class="col-md-5 offset-md-1 mb-5">
      <div class="schedule"><h3><%= now.month %>月の稼働時間</h3></div>
      <table class="table mb-5">
        <tr>
          <th>シフト予定時間</th>
          <td><%= shifts_time.count*1.5 %>時間</td>
        </tr>
        <tr>
          <th>授業予定時間</th>
          <td><%= shifts_time.where("status == 2").count * 1.5 %>時間</td>
        </tr>
        <tr>
          <th>現在のシフト時間</th>
          <td><%= shifts_time.where("start_time <= ?", now).count*1.5 %>時間</td>
        </tr>
        <tr>
          <th>現在の授業時間</th>
          <td><%= shifts_time.where("start_time <= ?", now).where("status == 4").count * 1.5 %>時間</td>
        </tr>
      </table>
      <div class="schedule"><h3><%= now.last_month.month%>月の稼働時間</h3></div>
      <table class="table">
        <% start_time2 = @shift_time.where("start_time <= ?", now.last_month.end_of_month).where("start_time >= ?", Date.today.last_month.beginning_of_month) %>
        <tr>
          <th>シフト時間</th>
          <td><%= start_time2.count*1.5 %>時間</td>
        </tr>
        <tr>
          <th>授業時間</th>
          <td><%= start_time2.where("status == 4").count * 1.5 %>時間</td>
        </tr>
      </table>
      <div class="schedule"><h3><%= now.ago(2.month).month %>月の稼働時間</h3></div>
      <table class="table">
        <% start_time2 = @shift_time.where("start_time <= ?", now.ago(2.month).end_of_month).where("start_time >= ?", now.ago(2.month).beginning_of_month) %>
        <tr>
          <th>シフト時間</th>
          <td><%= start_time2.count*1.5 %>時間</td>
        </tr>
        <tr>
          <th>授業時間</th>
          <td><%= start_time2.where("status == 4").count * 1.5 %>時間</td>
        </tr>
      </table>
    </div>
  </div>
</div>
