<%= render "layouts/header" %>

<% breadcrumb :support %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="text-center mt-3 bg-classes text-white">
  <h1 class="text-center undertitle undertitle-w">ご寄付・ボランティア</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mt-5">
      <h3>2つのサポート</h3>
      <p class="mt-5">
        子どもたちの学習支援を行っていくためには、<br>
        あらゆる活動があり人、資金、場所など多くの<br class="sp_br">方々や団体のご支援によって支えられています。<br>
        BORDER FREEでは、皆さまそれぞれにあった<br class="sp_br">ご支援、ご参加の方法があります。
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <a href="#donate" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center neuro-classes sample_box10">
        BORDER FREEの<br>
        活動に寄付する
      </div>
    </a>
    <a href="#volunteer" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center neuro-classes sample_box10">
        ボランティア<br>
        として関わる
      </div>
    </a>
  </div>
</div>
<div class="my-5">
  <div class="text-center bg-success text-white p-5" id="donate">
    <h3>BORDER FREEの<br class="sp_br">活動に寄付する</h3>
    <h6 class="mt-3">Donate</h6>
    <p class="mt-5">
      教育格差はまだまだ社会的な<br class="sp_br">課題認知が低く、どの団体も予算的に<br class="sp_br">非常に苦しい中で運営しています。<br>
      課題に気づいた方、未来のBORDER FREEにご期待くださる方々は、<br>
      ぜひご支援をお願いします。
    </p>
    <div>
      <ul>
        <li class="btn-gradient-radius mx-5"><a href="#personal" class="text-dark">個人のご寄付</a></li>
        <li class="btn-gradient-radius mx-5"><a href="#corporate" class="text-dark">法人のご寄付</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-md-8 offset-md-2 text-center p-5" id="personal">
      <div class="heading02">
        <h3>個人のご寄付</h3>
        <h6 class="mt-3">Personal donations</h6>
      </div>

      <h4 class="mt-5">
        皆様のご支援が子どもたちの未来を変えます
      </h4>
    </div>
  </div>
  <div class="mt-5">
    <ul class="row">
      <li class="col-md-4">
        <div class="support-img1 neuro-support my-3 support-img"></div>
        <p class="p-4 text-center">授業をする場所代として<br class="sp_br">使わせていただきます。</p>
      </li>
      <li class="col-md-4">
        <div class="support-img2 neuro-support my-3 support-img"></div>
        <p class="p-4 text-center">講師の授業費として<br class="sp_br">使わせていただきます。</p>
      </li>
      <li  class="col-md-4">
        <div class="support-img3 neuro-support my-3 support-img"></div>
        <p class="p-4 text-center">イベントなどに<br class="sp_br">使わせていただきます。</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <a href="https://congrant.com/project/borderfree/9791" target="_blank" rel="noopener noreferrer" class="btn_25 nav-link"><span>寄付をする</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center p-5" id="corporate">
      <div class="heading02">
        <h3>法人のご寄付</h3>
        <h6 class="mt-3">Corporate donations</h6>
      </div>
      <h4 class="mt-5">
        教育格差を是正し、子どもたちの未来を変えます！
      </h4>
    </div>
  </div>
  <div class="box30">
    <div class="box-title">お問い合わせ</div>
    <p class="text-center h5 pt-5">ご検討いただける企業様には<br class="sp_br">直接ご説明にお伺いしますので<br>
  まずはお気軽に<br class="sp_br">お問い合わせください。</p>
    <div class="pb-5 text-center">
      <div class="cta_btn03">
      <%= link_to new_contact_path(classes: "法人向け寄付") do %>
        <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
        <div class="text-white">お問い合わせはこちら</div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
        <h3>supporters</h3>
        <h6 class="mt-3">協賛企業・協賛団体の皆様</h6>
      </div>
      <%= render "layouts/supporters" %>
    </div>
  </div>
</div>
<div class="my-5">
  <div class="text-center bg-success text-white p-5" id="volunteer">
    <h3>ボランティアとして<br class="sp_br">関わる</h3>
    <h6 class="mt-3">Intern / Volunteer</h6>
    <p class="mt-5">
      BORDER FREEは多くのボランティア<br class="sp_br">さんに支えられています。<br>
      「子どもたちを応援しよう！」という点<br class="sp_br">で同じ志を持つ仲間との<br class="sp_br">活動は本当に楽しいです。<br>
      ぜひお気軽にお問合せください。
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <h4 class="text-center col-md-4 offset-md-4">活動内容</h6>
  </div>
  <div class="mt-5">
    <ul class="row">
      <li class="col-md-4">
        <div class="support-img4 neuro-support2 my-3 support-img"></div>
        <p class="p-4 text-center">集団授業の講師として活動します。曜日は固定で週に2コマ以上授業をします。</p>
      </li>
      <li class="col-md-4">
        <div class="support-img5 neuro-support2 my-3 support-img"></div>
        <p class="p-4 text-center">個別授業の講師として活動します。曜日は固定で複数の生徒を指導します。</p>
      </li>
      <li  class="col-md-4">
        <div class="support-img6 neuro-support2 my-3 support-img"></div>
        <p class="p-4 text-center">BORDER FREEの運営をします。月に何度かのミーティングがあります。
        一緒に良いNPO法人していきましょう。</p>
      </li>
    </ul>
  </div>
  <div class="box30">
    <div class="box-title">一緒に活動したい方</div>
    <p class="text-center h5 pt-3">
      子供たちのために何かしたい方<br>
      学生のうちに何かやりたい方
    </p>
    <div class="pb-5 text-center">
      <div class="cta_btn03">
        <a href="https://docs.google.com/forms/d/16508ThljbvD_oaDlroGJa76KEqG_nPpkTxtd1E4bWWE/viewform?edit_requested=true" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
          <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
          <div class="text-white">お問い合わせはこちら</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="pt-3clearfix bg-grey">
  <div class="p-3 row">
    <%= breadcrumbs separator: " &rsaquo; ", class: "col-md-4 pt-2" %>
      <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-6 btn btn-success">↑ Page Top</a>
  </div>
</div>