<%= render "layouts/header" %>
<% breadcrumb :root %>
<%= breadcrumbs separator: " &rsaquo; ", class: "ml-5" %>
<ul class="sliders">
  <!--<img src="assets/top.jpg" alt="">-->
  <div class="bg-top1 img text-white">
    <p class="heading07 text-center pd-top1 text-shadow" data-en="Value">
        <b>
        BORDER FREEは<br>
        ”全ての子どもたちが<br class="sp_br">等しく勉強できる環境”<br>
        「教育の機会の公平性」<br class="sp_br">の実現を目指します</b>
    </p>
  </div>
  <div class="bg-top2 img text-white">
    <p class="heading07 text-center pd-top1 text-shadow" data-en="Value">
        <b>
        ひとりひとりの生徒と<br class="sp_br">向き合うことで、<br>
        勉強の楽しさを味わい、<br>
        生徒の目標達成に向けて<br class="sp_br">全力でサポートします。</b>
    </p>
  </div>
  <div class="bg-top3 img text-white">
    <p class="heading07 text-center pd-top1 text-shadow">
        <b>
        授業の申し込み、<br class="sp_br">その他お問い合わせは<br>
        こちらからお願いします。</b>
    </p>
    <div class="cta_btn03 slider-contact">
      <%#= link_to new_contact_path do %>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScho7UETS3AAK3ScHctdH-NamXxy_3c3t7gVZbrWa8b-RSj0w/viewform" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
        <div class="text-white">お問い合わせはこちら</div>
      </a>
      <%# end %>
    </div>
  </div>
</ul>

<div class="container">
    <div class="row margin-top element">
        <div class="col-md-6 mt-5 mb-5">
            <h2>BORDER FREEについて</h2>
            <p class="mb-5 mt-3">現在の教育業界は、<br class="sp_br">保護者の経済力や家庭環境、居住地域<br>によって左右されてしまっています。<br class="sp_br">
            そこで私たちは、<br><b>”全ての子どもたちが等しく勉強できる環境”<br class="sp_br">「教育の機会の公平性」</b><br>の実現を目指します。
            </p>
            <%= link_to"詳しく見る", about_path, class: "btn_01 m-5" %>
        </div>
        <div class="col-md-5 img-maru">
            <div class="top-img4 img-maru"></div>
        </div>
    </div>
    <div class="row margin-top element">
        <div class="col-md-5 img-maru mb-5">
            <div class="top-img5"></div>
        </div>
        <div class="col-md-7">
            <h2 class="ml-5">活動内容</h2>
            <p class="mb-5 ml-5 mt-3">
                ひとりひとりの生徒と向き合うことで、勉強の楽しさを味わい、
                生徒の目標達成に向けて全力でサポートします。<br><br><span class="h5">
                ・個別指導STRADA<br>・さくら教室（集団授業）<br>・交流イベント</span>
            </p>
            <%= link_to"詳しく見る", classes_path, class: "btn_01 m-5" %>
        </div>
    </div>
</div>
<!--こういった方にお勧め-->
<div class="bg-grey">
    <div class="container">
        <div class="element">
            <div class="text-center margin-top">
              <h3 class="text-center mt-5 undertitle">こういった方におすすめ</h3>
            </div>
            <div class="row">
                <div class="col-md-4 my-5 offset-md-1">
                    <div class="top-img6"></div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="row box8 col-md-8">
                        <p class="h5">一人でなかなか勉強できない</p>
                    </div>
                    <div class="row box8 col-md-8">
                        <p class="h5">自分のペースで勉強に集中したい</p>
                    </div>
                    <div class="row box8 col-md-8">
                        <p class="h5">部活も勉強も全力で取り組みたい</p>
                    </div>
                    <div class="row box8 col-md-8">
                        <p class="h5">効率よく成績UPさせたい</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--料金-->
<div class="container">
    <div class="element">
        <div class="text-center margin-top">
          <h3 class="text-center mt-5 undertitle">サービス</h3>
        </div>
        <div class="row">
            <table class="cp_pricetable3">
                <thead>
                    <tr>
                    	<th class="group1">オンライン個別指導STRADA</th>
                    	<th class="group2">放課後学習教室*1</th>
                    	<th class="group3">さくら教室(集団授業)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    	<td class="group1">￥2,500/コマ</td>
                    	<td class="group2">￥2,000/月</td>
                    	<td class="group3">￥2,000/月</td>
                    </tr>
                    <tr>
                    	<td class="group1">オンライン授業＠ZOOM</td>
                    	<td class="group2">多摩センター教室・聖蹟桜ヶ丘教室</td>
                    	<td class="group3">聖蹟桜ヶ丘教室</td>
                    </tr>
                    <tr>
                    	<td class="group1">小4～高校生</td>
                    	<td class="group2">小3～高校生</td>
                    	<td class="group3">小6～中3</td>
                    </tr>
                    <tr>
                    	<td class="group1"><%= link_to "詳細", "https://www.strada-kobetsu.com/sa", target: '_blank', class: 'cp_btn font-weight-bold' %></td>
                    	<td class="group2"><%= link_to "詳細", classes_path(anchor: 'afterschool'), class: 'cp_btn font-weight-bold' %></td>
                    	<td class="group3"><%= link_to "詳細", classes_path(anchor: 'sakura'), class: 'cp_btn font-weight-bold' %></td>
                    </tr>
                </tbody>
            </table>
            <p class="">＊1 住民税非課税世帯、児童扶養手当受給世帯は無料</p>
        </div>
    </div>
</div>

<!--ニュース-->
<div class="container mt-5">
    <div class="my-5 text-center">
        <h3>Media</h3>
        <h6 class="mt-3">メディア掲載</h6>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul>
                <% @medias.each do |media| %>
                <li class="news-border">
                    <div class="my-4">
                        <span class="news py-1 px-2 mx-2"><%= media.genre_i18n %></span>
                        <span><%= media.date_public.strftime('%Y/%m/%d') %></span>
                    </div>
                    <p>
                        <% if media.url.present? %>
                          <%= link_to media.title, media.url, target: :_blank, rel: "noopener noreferrer" %>
                        <% else %>
                          <%= media.title %>
                        <% end %>
                    </p>
                </li>
                <% end %>
            </ul>
            <%= link_to "その他の記事も見る", medias_path, class: "text-dark" %>
        </div>
    </div>
</div>

<!--ブログ-->
<div class="container text-center">
    <div class="margin-top">
        <h3>Blog</h3>
        <h6 class="mt-3">ブログ</h6>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <iframe class="note-embed" src="https://note.com/embed/notes/ndd3594546512" style="border: 0; display: block; max-width: 99%; width: 494px; padding: 0px; margin: 10px 0px; position: static; visibility: visible;" height="400"></iframe><script async src="https://note.com/scripts/embed.js" charset="utf-8"></script>
        </div>
        <div class="col-md-5">
            <iframe class="note-embed" src="https://note.com/embed/notes/n81b57aafdb3f" style="border: 0; display: block; max-width: 99%; width: 494px; padding: 0px; margin: 10px 0px; position: static; visibility: visible;" height="400"></iframe><script async src="https://note.com/scripts/embed.js" charset="utf-8"></script>
        </div>
    </div>
    <a href="https://note.com/border_free2021" target="_blank" rel="noopener noreferrer" class="btn">その他の投稿はこちら</a>
</div>

<!--協賛企業-->
<div class="container">
    <div class="row element">
        <div class="col-md-8 offset-md-2">
            <div class="margin-top text-center">
                <h3>supporters</h3>
                <h6 class="mt-3">協賛企業の皆様</h6>
            </div>
            <%= render "layouts/supporters" %>
        </div>
    </div>
    <div class="box30">
        <div class="box-title">お問い合わせ</div>
        <p class="text-center h5 pt-5">授業の申し込み、<br class="sp_br">その他お問い合わせは<br>こちらからお願いします。<br>
        <div class="pb-5 text-center">
          <div class="cta_btn03">
          <%#= link_to new_contact_path do %>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScho7UETS3AAK3ScHctdH-NamXxy_3c3t7gVZbrWa8b-RSj0w/viewform" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
            <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
            <div class="text-white">お問い合わせはこちら</div>
          </a>
          <%# end %>
          </div>
        </div>
    </div>
</div>
<!--SNS-->
<div class="bg-grey pb-5">
    <div class="text-center margin-top">
      <h3 class="text-center mt-5 undertitle">SNS</h3>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <a class="twitter-timeline" href="https://twitter.com/borderfree2021?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" data-tweet-limit="3" data-width="400" data-height="500">Tweets by borderfree2021</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<!--トップへのリンク-->
<div class="pt-3 clearfix bg-grey">
  <div class="p-3">
      <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-9 btn btn-success">↑ Page Top</a>
  </div>
</div>