<%= render "admins/shared/header" %>
<%= link_to "一覧へ戻る", admin_contacts_path, class: "btn btn-info mx-5 mt-5" %>
<div class="text-center mt-4">
  <h1 class="text-center undertitle">問い合わせ内容</h1>
</div>
<div class="container">
  <div class="row">
    <table class="table col-md-3">
      <tr>
        <td>投稿日</td>
        <td><%= @contact.created_at.strftime("20%-y-%-m-%-d %-H:%-M") %></td>
      </tr>
      <tr>
        <td>お名前</td>
        <td><%= @contact.name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @contact.name_kana %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @contact.phone %></td>
      </tr>
      <tr>
        <td>件名</td>
        <td><%= @contact.title %></td>
      </tr>
    </table>
    <div class="col-md-6 offset-md-1">
      <h5>本文</h5>
      <%= @contact.content %>
    </div>
  </div>
</div>