<%= render "admins/shared/header" %>
<p id="notice"><%= notice %></p>
<div class="toppage" style="height: 800px;">
  <div class="text-center mt-3">
    <h1 class="text-center undertitle">メディア掲載</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="mx-5 mb-4">
          <%= link_to "管理者トップへ戻る", admin_contacts_path, class: "btn btn-info" %>
        </div>
        <h4>編集</h4>
        <div class="mb-4">
          <%= form_with model: @media, url: admin_media_path(@media) do |f| %>
          <table>
            <thead>
              <tr>
                <th><%= f.label :掲載日 %></th>
                <th><%= f.label :媒体 %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.date_field :date_public %></td>
                <td><%= f.select :genre, MediaPost.genres_i18n.invert %></td>
              </tr>
            </tbody>
          </table>
          <div class="">
            <%= f.label :タイトル %><br />
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <%= f.label :記事のURL %><br />
            <%= f.text_field :url %>
          </div>
          <div class="field mt-3">
            <%= f.submit "更新", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>