<%= render "teachers/shared/header" %>

<div class="container">
  <div class="row">
    <h2 class="mt-5 mx-auto">講師情報編集</h2>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
    <%= form_with model: @subject, url: teacher_homes_subject_path do |f| %>
      <div class="form-tag">
        <%= f.label :subject_id, "教科" ,class: "h5"%><br>
        <%= f.collection_select :subject_id, Subject.all, :id, :name_grade %>
        <%= f.submit "作成" , class: "btn btn-success ml-3" %>
      </div>

    <% end %>
    <table class="table my-5">
      <thead>
        <tr>
          <th>教科名</th>
          <th>学年</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.grade_i18n %></td>
            <td><%= link_to "削除", teacher_home_destroy_path(subject),method: :delete, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
      </tbody>

    </table>
    </div>
    <div class="col-md-6 offset-md-1">
      <h5 class="mb-4">・プロフィール編集</h5>
      <%= form_with model: @teacher, url: teacher_homes_path, method: :patch do |f| %>
        <table class="table">
          <tr>
            <td><%= f.label :顔写真 %></td>
            <td><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :名前, class: "mr-5" %></td>
            <td><%= f.text_field :name, autocomplete: "name" %></td>
          </tr>
          <tr>
            <td><%= f.label :名前（カナ）, class: "mr-5" %></td>
            <td><%= f.text_field :name_kana, autocomplete: "name_kana" %></td>
          </tr>
          <tr>
            <td><%= f.label :電話番号, class: "mr-5" %></td>
            <td><%= f.text_field :phone_number,autocomplete: "phone_number" %></td>
          </tr>
          <tr>
            <td><%= f.label :生年月日 , class: "mr-5"%></td>
            <td><%= f.date_field :birth, autocomplete: "birth" %></td>
          </tr>
          <tr>
            <td><%= f.label :学校名, class: "mr-5" %></td>
            <td><%= f.text_field :school, autocomplete: "school", placeholder: "～大学" %></td>
          </tr>
          <tr>
            <td><%= f.label :学科, class: "mr-5" %></td>
            <td><%= f.text_field :faculty, autocomplete: "faculty", placeholder: "～学部" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "修正",class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>