<%= render "teachers/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<div class="text-center mt-3">
    <h1 class="text-center mt-5 undertitle">マイページ</h1>
  </div>
<div class="row">
  <table class="table col-md-3 ml-5 mr-5">
    <thead class="thead-light">
      <tr>
        <th>授業予定</th>
        <th></th>
      </tr>
    </thead>
    <tbody class = "scroll">
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.start_time.strftime("%-m/%-d")%>(<%= week[shift.start_time.wday] %>) <%= shift.start_time.strftime("%H:%M ~")%></td>
          <td><%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% shifts_time = @shifts.where("start_time >= ?", Date.today.beginning_of_month).where("start_time <= ?", Date.today.end_of_month) %>
  <div class="col-md-4 ml-2 mr-2">
    <div class="schedule"><h3>今月の稼働時間</h3></div>
  	<table class="table">
      <tr>
        <th>シフト予定時間</th>
        <td><%= shifts_time.count*1.5 %>時間</td>
      </tr>
      <tr>
        <th>現在のシフト時間</th>
        <td><%= shifts_time.where("start_time <= ?", Date.current).count*1.5 %>時間</td>
      </tr>
      <tr>
        <th>授業予定時間</th>
        <td><%= shifts_time.where("status == 2").count * 1.5 %>時間</td>
      </tr>

      <tr>
        <th>現在の授業時間</th>
        <td><%= shifts_time.where("start_time <= ?", Date.current).where("status == 2").count * 1.5 %>時間</td>
      </tr>
    </table>
  </div>
    <%#= month_calendar events: @shifts do |date, shifts| %>
      <%#= date.day %>

      <%# shifts.each do |shift| %>
        <div>
          <%#= shift.start_time.strftime("%H:%M~") %>
          <%#= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-danger" %>
        </div>
      <%# end %>
    <%# end %>
</div>