<%= render "teachers/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<% shifts_time = @shifts.where("start_time <= ?", Date.today.end_of_month) %>
<div class="text-center mt-3">
    <h1 class="text-center mt-5 undertitle">マイページ</h1>
  </div>
<div class="row">
  <div class="col-md-3 ml-5 mr-5">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>授業予定</th>
          <th>生徒名</th>
        </tr>
      </thead>
      <tbody class = "scroll">
        <% shifts_time.where("start_time >= ?", Date.today).each do |shift| %>
          <tr>
            <td><%= shift.start_time.strftime("%-m/%-d")%>(<%= week[shift.start_time.wday] %>) <%= shift.start_time.strftime("%H:%M ~")%></td>
            <% if shift.start_time >= now.since(5.day) %>
              <%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-danger" %>
            <% end %>
            <% if shift.status == 2 %>
              <td><%= shift.lesson.student.name %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>過去一ヶ月の授業</th>
        </tr>
      </thead>
      <tbody class = "scroll">
        <% shifts_time.where("start_time >= ?", Date.today.prev_month).each do |shift| %>
          <tr>
            <td><%= shift.start_time.strftime("%-m/%-d")%>(<%= week[shift.start_time.wday] %>) <%= shift.start_time.strftime("%H:%M ~")%></td>
            <% if shift.status == 2 %>
              <td><%= link_to "詳細", teacher_class_path(shift.lesson) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-4 ml-2 mr-2">
    <div class="schedule"><h3>今月の稼働時間</h3></div>
  	<table class="table">
      <tr>
        <th>シフト予定時間</th>
        <td><%= shifts_time.count*1.5 %>時間</td>
      </tr>
      <tr>
        <th>現在のシフト時間</th>
        <td><%= shifts_time.where("start_time <= ?", Date.current).count*1.5 %>時間</td>
      </tr>
      <tr>
        <th>授業予定時間</th>
        <td><%= shifts_time.where("status == 2").count * 1.5 %>時間</td>
      </tr>

      <tr>
        <th>現在の授業時間</th>
        <td><%= shifts_time.where("start_time <= ?", Date.current).where("status == 4").count * 1.5 %>時間</td>
      </tr>
    </table>
  </div>
  <div class="col-md-3">
    <div class="m-5">
      <%= link_to "過去の授業一覧", teacher_classes_path, class: 'btn btn-success btn-lg' %>
    </div>
    <div class="m-5">
      <%= link_to "シフト予約", student_classes_path, class: 'btn btn-info btn-lg' %>
    </div>
  </div>
    <%#= month_calendar events: @shifts do |date, shifts| %>
      <%#= date.day %>

      <%# shifts.each do |shift| %>
        <!--<div>-->
          <%#= shift.start_time.strftime("%H:%M~") %>
          <%#= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-danger" %>
        <!--</div>-->
      <%# end %>
    <%# end %>
</div>