<%= render "teacher/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<h3>マイページ</h3>
<div class="row">
  <table class="table col-md-3 ml-5 mr-5">
    <thead class="thead-light">
      <tr>
        <th>授業予定</th>
        <th></th>
      </tr>
    </thead>

    <tbody class = "scroll">
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.start_time.strftime("%d")%>(<%= week[shift.start_time.wday] %>) <%= shift.start_time.strftime("%H:%M ~")%></td>
          <td><%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-8 ml-2 mr-2">
    <%= month_calendar events: @shifts do |date, shifts| %>
      <%= date.day %>

      <% shifts.each do |shift| %>
        <div>
          <%= shift.start_time.strftime("%H:%M~") %>
          <%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-danger" %>
        </div>
      <% end %>
    <% end %>
    </div>
</div>