<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%#= image_tag('logo.png') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if teacher_signed_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete, class: 'nav-link text-dark btn' %>
        </li>
        <li class="nav-item">
          <%= link_to '生徒一覧', teacher_students_path, class: 'nav-link text-dark btn' %>
        </li>
        <li class="nav-item">
          <%= link_to 'マイページ', teacher_top_path, class: 'nav-link text-dark btn' %>
        </li>
        <li class="nav-item">
          <%= link_to 'シフト提出', teacher_shifts_path, class: 'nav-link text-dark btn' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "講師ログイン", new_teacher_session_path, class: 'nav-link text-dark btn' %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>