<%= render "admins/shared/header" %>
<div class="text-center mt-3">
  <h1 class="text-center mt-5 undertitle">ブログ編集画面</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= link_to "一覧へ戻る", admin_blogs_path, class: "btn btn-info mx-5 mt-5" %>
      <div>
      <%= form_with model: @blog, url: admin_blog_path(@blog), method: :patch do |f| %>
        <%= f.label :title, "タイトル：",class: "mr-5 my-4" %>
        <%= f.text_field :title %>
        <%= f.text_area :content, class: "tinymce", rows: 25 %>
        <%= f.submit "編集", class: "btn btn-success offset-md-10 my-5" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    language: 'ja',
    // 画像のペーストを無許可　textとして登録されるから
    paste_data_images: false,
  });
</script>