<%= render "admins/shared/header" %>
<%= link_to "一覧へ戻る", admin_blogs_path, class: "btn btn-info mx-5 mt-5" %>
<div class="text-center mt-3">
  <h1 class="text-center mt-5 undertitle"><%= @blog.title %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="my-3 d-flex">
        <p>投稿日  <%= @blog.created_at.strftime("20%-y-%-m-%-d") %></p>
        <div class="offset-md-7">
          <%= link_to "編集", edit_admin_blog_path(@blog), class: "btn btn-info" %>
          <%= link_to "削除", admin_blog_path(@blog), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      </div>
      <div class="my-5">
        <%= sanitize @blog.content %>
      </div>
    </div>
  </div>
</div>