<%= render "teacher/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<p id="notice"><%= notice %></p>

<div class="toppage">
  <h2 class="top">シフト提出 （<%= current_teacher.name %>）</h2>

  <br>

  <div class="row">
    <div class="col-md-3 ml-3">
    	<div class="schedule"></div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>開始時間</th>
              <th></th>
            </tr>
          </thead>

          <tbody class = "scroll">
            <% @shifts.each do |shift| %>
              <tr>
                <td><%= shift.start_time.strftime("%d")%>(<%= week[shift.start_time.wday] %>) <%= shift.start_time.strftime("%H:%M ~")%></td>
                <td><%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-dark" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="mt-3 border rounded-lg">
        <h4 class="pl-3 pt-2">提出フォーム</h4>
        <%= form_with(model: @shift, url: teacher_shifts_path, local: true) do |f| %>
          <div class="form-tag">
            <%= f.label :start_time, 'シフト申請日　', class: 'control-label ml-3' %>
            <%= f.date_field :start_time %>
          </div>
          <div class="form-tag m-3">何時間目
          <%= f.select :timetable, times, { include_blank: '何限か選択してください'}, class: "ml-3" %>
          </div>
          <div class="submit m-3">
            <%= f.submit "申請", class: 'btn btn-success' %>
          </div>
        <% end %>
        </div>
      </div>
      <br>


      <br>
      <div class="col-md-8">
      <%= month_calendar events: @shifts do |date, shifts| %>
        <%= date.day %>

        <% shifts.each do |shift| %>
          <div>
            <%= shift.start_time.strftime("%H:%M~") %>
            <%= link_to "削除", teacher_shift_path(shift), method: :delete,class: "text-danger" %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>