<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3 mt-3">
        <%= link_to root_path do %>
        <%#= image_tag('logo.png') %>
        <div class="logo-footer"></div>
        <% end %>
      </div>
      <div class="col-md-3">
        <h5 class="text-white mt-2 mb-3">私たちについて</h5>
        <ul class="p-0 list-unstyled">
          <li><%= link_to "BORDER FREEとは", about_path, class: "text-white" %></li>
          <li><%= link_to "サービス紹介", classes_path, class: "text-white" %></li>
          <li><a href="https://note.com/border_free2021" target="_blank" rel="noopener noreferrer" class="text-white">ブログ</a></li>
          <li><%= link_to "団体概要", outline_path, class: "text-white" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white mt-2 mb-3">サポート</h5>
        <ul class="p-0 list-unstyled">
          <li><%= link_to "ご寄付・ボランティア", support_path, class: "text-white" %></li>
          <li><%= link_to "協賛企業・協賛団体", social_path, class: "text-white" %></li>
          <li><%= link_to "お問い合わせ", new_contact_path, class: "text-white" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white mt-2 mb-3">SNS</h5>
        <ul class="follow-me d-flex">
          <li>
            <a href="https://twitter.com/borderfree2021" target="_blank" rel="noopener noreferrer" class="btn-social-long-twitter">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li class="mx-3">
            <a href="https://www.instagram.com/borderfree__official/" target="_blank" rel="noopener noreferrer" class="btn-social-icon-instagram">
              <span class="btn-social-icon-instagram__square"><i class="fab fa-instagram"></i></span>
            </a>
          </li>
          <!--<li><a href="https://www.instagram.com/border_free2021/"></a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="text-white text-center">
    Copyright © 特定非営利活動法人BORDER FREE　　　All rights reserved.
  </div>
</footer>